
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Noto+Sans+KR:wght@100..900&display=swap');


:root {
  /* --box-margin-top: 10rem; */
  --box-margin-top: 0rem;
  --box-padding: 1.75rem 10rem;
  --font-mont : "Montserrat", sans-serif;
  --title-mb : 3rem;
  --bounce : cubic-bezier(.62,-0.35,.41,1.29);
--word-index: 0
}


body {  position: relative; font-family: "Noto Sans KR", sans-serif; scroll-behavior: smooth; }

h2 {font-family: var(--font-mont); letter-spacing: -0.11rem; font-weight: 700; line-height: 100%;} /* font-size: 3.375rem; */

.gnb {  position: absolute;  left: 0;  top: 0;  z-index: 99;  width: 100%;  padding:var(--box-padding); }
.gnb .logo { background: url(./assets/images/logo_soom.svg) 0 0 no-repeat ; background-size: contain;}
.blind {position: absolute; clip: rect(0 0 0 0); width: 1px; height: 1px; margin: -1px; overflow: hidden;}
.gnb .nav_item { font-size: 1.25rem; font-family: var(--font-mont); font-weight: 600;}
.gnb .btn_top {position: fixed; right: 3%; bottom: -10%; display: flex; align-items: center; justify-content: center; width: 40px; height: 40px; border: 1px solid #c7c7c7; z-index: 1000;
  transition: bottom 0.5s var(--bounce); background-color: rgba(255,255,255,0.7); backdrop-filter: blur(4px);}
.gnb .show {bottom: 3% !important;}

.section { background-color: #fff; width: 100%; height: 100vh;}


/*=== HERO ===*/
.hero { position: relative; display: flex; padding: var(--box-padding);}

.hero_text {display: flex; flex-direction: column;  align-self: flex-end; text-align: left; margin-bottom: 5rem;  font-family: var(--font-mont); letter-spacing: -0.075rem; }
.hero_text .name { position: relative; font-weight: 500; text-transform: uppercase ; }
.hero_text .name::after {content: '';position: absolute; left: 0; bottom: -1.5rem;  width: 52px; height: 2px; background-color: #1e1e1e; }
/* [data-splitting] .char {
  display: inline-block;
  opacity: 1 !important; 
} */
  .hero_text .title { font-size: 8vw; font-weight: 100; }
  /*.chars {font-weight: 900;}  새로 덮어쓰기 됨 */
  /* .hero_text .hero_title { font-size: 8vw; font-weight: 900; } */
.hero_text .hero_title { 
  will-change: weight;
  font-size: 4rem;
	text-decoration: none;
	font-weight: 700;
  line-height: 100%;
	letter-spacing:-0.2rem;
	animation: weight 2.5s ease-in; /* infinite */
  animation-delay: calc(var(--char-index) * 150ms);
	}
  /* .hero_text .hero_title.delay {animation-delay: calc(var(--char-index) * 1000ms) !important; border: 2px solid red;} */
/*.hero_text .title {font-size: 10vw; font-weight: 100; line-height: 100%; letter-spacing: -0.15rem; animation: weight 4s infinite; animation-delay: calc(var(--char-index) * 150ms);}
 .hero_text .title span {font-weight: 300; } */

@keyframes weight {
	from {
		font-weight: 700;    
	}
	50% {
		font-weight: 100;    
	}	
	to {
		font-weight: 700;
    opacity: 1;
	}
}


/*=== WORK ===*/
/* .inner-scroll {width: 100%; height: 100vh; box-sizing: border-box; overflow-y: auto; -webkit-overflow-scrolling: touch;will-change: transform} */
.workcard_box { box-sizing: border-box; }
.workcard_box h2 { margin-bottom: var(--title-mb);}
.workcard_box .grid_work {align-items: stretch; }
.inner-scroll { padding-bottom: 30px; box-sizing: border-box; -webkit-overflow-scrolling: touch; will-change: transform}
.inner-scroll::-webkit-scrollbar {  display: none;}
.content {min-height:100vh ;}
/* .workcard_box {  margin-top: var(--box-margin-top);} */

.workcard {height: 100%; min-height: 400px; transition: all .2s ease-in; overflow: hidden; will-change: transform;}
.workcard:hover, .workcard:focus {z-index: 1;  /* scale: 1.06;*/ border-radius: 36px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
              0 2px 4px rgba(0,0,0,0.07), 
              0 4px 8px rgba(0,0,0,0.07), 
              0 8px 16px rgba(0,0,0,0.07),
              0 16px 32px rgba(0,0,0,0.07), 
              0 32px 64px rgba(0,0,0,0.07);
}
  /* 
  box-shadow: -4px -4px 8px 3px rgba(255,183,112,0.3), 0px 16px 32px 3px rgba(255,89,238,0.3); 
  box-shadow: 0 1px 2px rgba(255,183,112,0.07), 
              0 2px 4px rgba(255,183,112,0.07), 
              0 4px 8px rgba(0255,183,112,0.07), 
              0 8px 16px rgba(255,89,238,0.1),
              0 16px 32px rgba(255,89,238,0.1), 
              0 32px 64px rgba(255,89,238,0.1); */
/* .workcard img {width: 100%; height: 100%; object-fit: contain; } */
.workcard .work_img {width: 100%; height: 100%; position: relative; }
.workcard .work_img::after { content: '';position: absolute; left: 0; top: 0;  width: 100%; height: 100%; background-color: rgba(0,0,0,0.1); transition: opacity 0.2s; }
.workcard h3 {font-size: 1.125rem; }
.workcard:hover .work_img::after { opacity: 0;}
.workcard .workcard_body {width: 100%; background: rgba(255,255,255,0.8); backdrop-filter: blur(10px);  position: absolute; bottom: 0; transition: 0.2s ease-in-out; padding: 0.75rem 1rem;}
.workcard:hover .workcard_body {bottom: -200px; }



/*=== SKILLS ===*/
.skills_box { width: 100%; height: 100vh; display: flex; justify-content: center; flex-direction: column; position: relative; margin-top: var(--box-margin-top); z-index: 0;}
.skills_box::after {content: ''; width: 100%; height: 80%; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); background: url(../src/assets/images/bg_skills.png) center no-repeat ; background-size: cover; z-index: -1; filter: blur(60px);}
.skills_box_p { font-size: 1.25rem;}
.skills {width: 100%; margin: 0 auto; margin-top: 5rem;}
.skills > div {gap: 12px; }
.skills p {font-size: 1rem; }

/*=== CATCHPHRASE ===*/
.catchphrase_box { width: 100%; height: 100vh; display: flex; align-items: center; justify-content: center; font-family: var(--font-mont);  font-weight: 800; letter-spacing: -0.2rem; padding: 0 2rem;}
.catchphrase {position: relative; font-size: 3rem;}
.catchphrase::after {content: ''; position: absolute; top: -10px; right: -110px; width: 120px; height: 120px; background: url(../src/assets/images/icon_quotation2.svg) top right no-repeat ; background-size: contain; opacity: .1;  display: none;}

/*=== SERVICES ===*/
.services_box { position: relative; padding-right: 0 !important; margin-top: var(--box-margin-top);  z-index: 0; }
.services_box::after {content: ''; width:100%; height: 956px; position: absolute; left: 50%; top: 60%; transform: translate(-50%, -50%); background: url(../src/assets/images/bg_service.png) center no-repeat ; z-index: -1;}
.services_box h2 {margin-bottom: var(--title-mb);}
.service {   overflow:auto; padding-bottom: 1rem;
gap: 1.25rem; cursor: grab; touch-action: none; width: 100%; user-select: none; display: flex;}
.servicecard  { background-color: rgba(255,255,255,0.7); min-width: 420px; height: 360PX; padding: 36px 52px;  display: flex; align-items: center ; justify-content: space-between; gap: 24px; }
.servicecard img {width: 80px;}
.servicecard h3 { font-size: 1.75rem; }
.servicecard p {font-size: 1rem; }

.service::-webkit-scrollbar {background-color: transparent; height: 4px; width: 4px;  }
/* .service::-webkit-scrollbar:horizontal { height: 6px; } */
.service::-webkit-scrollbar-thumb { background-color: rgba(0 , 0, 0,0); transition: all 0.3s; }
.service:hover::-webkit-scrollbar {height: 4px;  width: 4px;}
.service:hover::-webkit-scrollbar-thumb { background-color: rgba(53, 10, 34, 0.3); border-radius: 5px;} 




/*=== ABOUT ===*/
.about_box {padding:var(--box-padding); margin-top: var(--box-margin-top);justify-content: space-between; align-items: end; }



.createform {flex-direction: row; align-items: center;}
.createform label {width: 30%;}

/*=== SIDEMENU ===*/
.sidemenu_box {display: flex; align-items: center; justify-content: center; }
.sidemenu {width: 100%; height: 100%; display: flex;  align-items: center; justify-content: center; font-size: 3rem; line-height: 1.8;}
.btn_menu {width: 44px; height: 44px;}
.btn_menu svg {width: 100%; height: 100%;}




.footer { width: 100%; display: block; padding:01.75rem 5rem;}



/*=== MEDIAQUERY ===*/
@media (min-width: 375px) {
  .box_title { font-size: 2.5rem;}
  .hero_text {gap: 1.75rem;}
  .hero_text .name::after { width: 10%; bottom: -0.825rem;}
  .hero_text .hero_title { font-size: 15dvw; text-wrap:wrap; }

  .catchphrase {font-size: 3rem; text-wrap: wrap;}
  .catchphrase::after {display: none;}

  .about_box h2 {font-size: 4rem;}
}

@media (min-width: 768px) {
  .box_title { font-size: 4rem;}  
  .hero_text .name::after { width: 52px;}
  .hero_text .hero_title { font-size:6rem; text-wrap:wrap; }
  
  .workcard .workcard_body {padding: 1rem  1.25rem;}
  .workcard h3 {font-size: 1.25rem; }
  .skills p {font-size: 1.125rem; }
  .catchphrase {font-size: 4rem;}
}

@media (min-width: 992px) {
  .hero_text .hero_title { font-size:7rem; text-wrap:wrap; }
  .workcard h3 {font-size: 1.5rem; }
  .skills p {font-size: 1.25rem; }

  .catchphrase::after {display: block;}

  .about_box h2 {font-size:6rem;}
  
  .grid_work .workcard:nth-child(1) {grid-column: 1;  grid-row: 1 / 3;}
  .grid_work .workcard:nth-child(2) {grid-column: 2;  grid-row: 1 / 4;}
  .grid_work .workcard:nth-child(3) {grid-column: 3;  grid-row: 1 / 3;}
  .grid_work .workcard:nth-child(4) {grid-column: 1;  grid-row: 3 / 6;}
  .grid_work .workcard:nth-child(5) {grid-column: 2;  grid-row: 4 / 6;}
  .grid_work .workcard:nth-child(6) {grid-column: 3;  grid-row: 3 / 6;}
  .grid_work .workcard:nth-child(2), 
  .grid_work .workcard:nth-child(5) {margin-top: -48px;}
  /* .grid_work .workcard:nth-child(1) { grid-row: span 2}
  .grid_work .workcard:nth-child(2) { grid-row: span 3}
  .grid_work .workcard:nth-child(3) { grid-row: span 2}
  .grid_work .workcard:nth-child(4) { grid-row: span 3}
  .grid_work .workcard:nth-child(5) { grid-row: span 2}
  .grid_work .workcard:nth-child(6) { grid-row: span 3} */

}

@media (min-width: 1200px) {
  .box_title { font-size: 6rem;}
  .hero_text .hero_title { font-size:8rem; text-wrap:wrap; }
  .catchphrase {font-size: 6rem;}
  .about_box h2 {font-size: 8rem;}
}

@media (min-width: 1400px) {
  .hero_text .hero_title { font-size:8.5rem; text-wrap:wrap; }
  
}

