
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Noto+Sans+KR:wght@100..900&display=swap');


:root {
  --box-margin-top: 10rem;
  --box-padding: 1.75rem 10rem;
  --font-mont : "Montserrat", sans-serif;
  --title-mb : 3rem;
  --bounce : cubic-bezier(.62,-0.35,.41,1.29);
}


body {  position: relative; font-family: "Noto Sans KR", sans-serif; scroll-behavior: smooth; }

.gnb {  position: absolute;  left: 0;  top: 0;  z-index: 99;  width: 100%;  padding:var(--box-padding); }
.gnb .logo { background: url(./assets/images/logo_soom.svg) 0 0 no-repeat ; background-size: contain;}
.blind {position: absolute; clip: rect(0 0 0 0); width: 1px; height: 1px; margin: -1px; overflow: hidden;}
.gnb .nav_item { font-size: 1.25rem; font-family: var(--font-mont); font-weight: 600;}
.gnb .btn_top {position: fixed; right: 3%; bottom: -10%; display: flex; align-items: center; justify-content: center; width: 40px; height: 40px; border: 1px solid #c7c7c7; z-index: 1000;
  transition: bottom 0.5s var(--bounce); }
.gnb .show {bottom: 3% !important;}



/*=== HERO ===*/
.hero { position: relative; display: flex; padding: var(--box-padding);}

.hero_text {align-self: flex-end; margin-bottom: 5rem;  font-family: var(--font-mont); letter-spacing: -0.11rem; }
.hero_text .name { font-weight: 500; text-transform: uppercase ; }
.hero_text .title {font-weight: 700; line-height: 100%;}
.hero_text .title span {font-weight: 300; }

/*=== WORK ===*/
h2 {font-family: var(--font-mont); letter-spacing: -0.11rem; font-size: 3.375rem; font-weight: 700; line-height: 100%;}
.workcard_box {  margin-top: var(--box-margin-top);}
.workcard_box h2 { margin-bottom: var(--title-mb);}
.workcard_box .grid_work {align-items: stretch; }

.workcard {height: 100%; min-height: 400px; transition: all .3s ease-in-out; overflow: hidden; }
.workcard:hover, .workcard:focus {z-index: 1; scale: 1.1; border-radius: 36px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.04), 
              0 2px 4px rgba(0,0,0,0.04), 
              0 4px 8px rgba(0,0,0,0.04), 
              0 8px 16px rgba(0,0,0,0.04),
              0 16px 32px rgba(0,0,0,0.04), 
              0 32px 64px rgba(0,0,0,0.04);
}
  /* 
  box-shadow: -4px -4px 8px 3px rgba(255,183,112,0.3), 0px 16px 32px 3px rgba(255,89,238,0.3); 
  box-shadow: 0 1px 2px rgba(255,183,112,0.07), 
              0 2px 4px rgba(255,183,112,0.07), 
              0 4px 8px rgba(0255,183,112,0.07), 
              0 8px 16px rgba(255,89,238,0.1),
              0 16px 32px rgba(255,89,238,0.1), 
              0 32px 64px rgba(255,89,238,0.1); */
/* .workcard img {width: 100%; height: 100%; object-fit: contain; } */
.workcard .work_img {width: 100%; height: 100%; filter: grayscale(50%);}
.workcard h3 {font-size: 1.5rem; }
.workcard:hover .work_img {filter: grayscale(0%);}
.workcard .workcard_body {width: 100%; background: rgba(255,255,255,0.8); backdrop-filter: blur(10px);  position: absolute; bottom: 0; transition: 0.3s ease-in-out}
.workcard:hover .workcard_body {bottom: -200px; }


/*=== SKILLS ===*/
.skills_box { margin-top: var(--box-margin-top);}
.skills_box_p {left: 50%; transform: translateX(-50%); font-size: 1.25rem;}
.skills {width: 100%; margin: 0 auto; margin-top: 5rem;}
.skills p {font-size: 1.25rem; }


/*=== SERVICES ===*/
.services_box { padding-right: 0 !important; margin-top: var(--box-margin-top);  }
.services_box h2 {margin-bottom: var(--title-mb);}
.service {   overflow:auto; padding-bottom: 1rem;
gap: 1.25rem; cursor: grab; touch-action: none; width: 100%; user-select: none; display: flex;}
.servicecard  { min-width: 420px; height: 360PX; padding: 36px 52px;  display: flex; align-items: center ; justify-content: space-between; gap: 24px; }
.servicecard img {width: 80px;}
.servicecard h3 { font-size: 1.75rem; }
.servicecard p {font-size: 1rem; }

.service::-webkit-scrollbar {background-color: transparent; height: 4px; width: 4px; }
.service::-webkit-scrollbar-thumb { background-color: rgba(0,0,0,0); transition: all 0.3s; }
.service:hover::-webkit-scrollbar {height: 4px;  width: 4px; }
.service:hover::-webkit-scrollbar-thumb { background-color: rgba(0,0,0,.2); border-radius: 5px;} 



/*=== ABOUT ===*/
.about_box {padding:var(--box-padding); margin-top: var(--box-margin-top);justify-content: space-between; }



.createform {flex-direction: row; align-items: center;}
.createform label {width: 30%;}

/*=== SIDEMENU ===*/
.sidemenu_box {display: flex; align-items: center; justify-content: center; }
.sidemenu {width: 100%; height: 100%; display: flex;  align-items: center; justify-content: center; font-size: 3rem; line-height: 1.8;}
.btn_menu {width: 44px; height: 44px;}
.btn_menu svg {width: 100%; height: 100%;}




.footer { width: 100%; display: block; padding:01.75rem 5rem;}



/*=== MEDIAQUERY ===*/
@media (min-width: 576px) {

}

@media (min-width: 768px) {
  
}

@media (min-width: 992px) {
  .grid_work .workcard:nth-child(1) {grid-column: 1;  grid-row: 1 / 3;}
  .grid_work .workcard:nth-child(2) {grid-column: 2;  grid-row: 1 / 4;}
  .grid_work .workcard:nth-child(3) {grid-column: 3;  grid-row: 1 / 3;}
  .grid_work .workcard:nth-child(4) {grid-column: 1;  grid-row: 3 / 6;}
  .grid_work .workcard:nth-child(5) {grid-column: 2;  grid-row: 4 / 6;}
  .grid_work .workcard:nth-child(6) {grid-column: 3;  grid-row: 3 / 6;}
  .grid_work .workcard:nth-child(2), 
  .grid_work .workcard:nth-child(5) {margin-top: -48px;}
  /* .grid_work .workcard:nth-child(1) { grid-row: span 2}
  .grid_work .workcard:nth-child(2) { grid-row: span 3}
  .grid_work .workcard:nth-child(3) { grid-row: span 2}
  .grid_work .workcard:nth-child(4) { grid-row: span 3}
  .grid_work .workcard:nth-child(5) { grid-row: span 2}
  .grid_work .workcard:nth-child(6) { grid-row: span 3} */
}

@media (min-width: 1200px) {
  
}

@media (min-width: 1400px) {
  
}

